
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center ;
}

form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

input {
  padding: 10px 30px;
  
}

.form__alert {
  color:red;
  font-weight: bold;
}

hr {
  border: 3 solid #000;
}